div.autocomplete {
  position: relative;
  display: inline-block;
  width: 215px;

  input.searchbar {
    width: 100%;
    height: 28px;
  }
  div.autoContainer {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
}
