nav.BottomNavbar {
  display: none;
}
@media screen and (max-width: 928px) {
  nav.BottomNavbar {
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: #2c3840;
    display: flex;
    padding-top: 0;
    z-index: 1;
  }
  .customNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

    li {
      list-style-type: none;
      padding-right: 1rem;

      .PictureSearchButton {
        background-color: #2c3840;
        border: none;
        outline: none;
        padding: 0;
      }
    }
  }
}
